/* laptop */
@media (min-width: 1024px) {

body, p, h1, h4{
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 30px;
	color: #6f7277;
}

h4 {
	color: #6f7277;
}

.title {
	padding-top: 10px;
}

.emoji {
	font-size: 1.25em;
}

#text {
	padding-top: 30px;
	padding-left: 200px;
	padding-right: 200px;
}

.small {
	font-size: 11px;
	color: white;
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 1px;
	border-radius: 10px;
	background-color: #2196F3;
	width: 11%;
	display: none;
}

.medium {
	font-size: 11px;
	color: white;
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 1px;
	border-radius: 10px;
	background-color: #2196F3;
	width: 20%;
	display: none;
}

.large {
	font-size: 11px;
	color: white;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-radius: 10px;
	background-color: #2196F3;
	max-width: 50%;
	display: none;
	font-size: 11px;
}

.clipping {
	font-size: 11px;
	color: black;
	align-items: center;
	border-style: solid;
	border-width: 1px;
	border-color: #eaecef;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-radius: 10px;
	background-color: white;
	width: 50%;
}

.buttons {
	font-size: 11px;
	z-index: 1;
	display: none;
	padding-bottom: 20px;
	font-size: 11px;
}

.clicker {
	font-size: 11px;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #6f7277;
	color: grey;
	padding-top: 8px;
	padding-bottom: 1px;
	border-radius: 10px;
	width: 90px;
	cursor: pointer;
}

.clicked {
	font-size: 11px;
	float: right;
	color: black;
	padding-top: 8px;
	padding-bottom: 1px;
	border-radius: 10px;
	background-color: #e0e2e5;
	width: 20%;
}

.view_more:hover {
	cursor: pointer;
}

.view_more {
	border-style: solid;
	border-width: 1px;
	border-color: #6f7277;
	color: #6f7277;
	padding-top: 8px;
	padding-bottom: 1px;
	border-radius: 10px;
	width: 35%;
	font-size: 11px;
}

.gap {
	padding: 3px;
}

}