.tester {
	background-color: black;
	padding: 20px;
}

#about_section, #about_1, #about_2, #about_3, #more_about, #about_loader_1, #about_loader_2, #about_loader_3  {
	display: none;
}

#how_section, #how_1, #how_2, #how_3, #how_4, #how_5, #how_6, #how_7, #how_8, #how_9, #how_10, #more_how {
	display: none;
}

#how_loader_1, #how_loader_2, #how_loader_3, #how_loader_4, #how_loader_5, #how_loader_6, #how_loader_7, #how_loader_8, #how_loader_9, #how_loader_10, #how_loader_11 {
	display:none;
}  

#text_loader_1, #text_loader_2, #text_loader_3 {
	display: none;
}


#contact_loader_1, #contact_loader_2 {
	display: none;
}

#demo_section {
	display: none;
}

#contact_section {
	display: none;
}

#want_section, #want, #want_loader_1, #want_loader_2, #want_1, #want_2 {
	display: none;
}

.top {
	padding-top: 75px;
	display: none;
}

#time {
	display: none;
	color: #6f7277;
	font-size: 0.75em;
}

a {
	font-size: 0.75em;
}

body, p, h1, h4{

	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 26px;
	color: #6f7277;
}

h4 {
	color: #6f7277;
}

p {
	font-size: 12px;
}

.top-strip {
	  height: 5px;
	  position: -webkit-sticky;
  	  position: sticky;
  	  top: 0;
  	  background: red;
      animation: colorchange 20s infinite; 
      -webkit-animation: colorchange 20s infinite; 
    }

    @keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: orange;}
      50%  {background: blue;}
      75%  {background: orange;}
      100% {background: red;}
    }

    @-webkit-keyframes colorchange 
    {
      0%   {background: red;}
      25%  {background: orange;}
      50%  {background: blue;}
      75%  {background: orange`;}
      100% {background: red;}
    }

.title {
	padding-top: 10px;
}

.emoji {
	font-size: 1.5em;
}

#text {
	padding-top: 30px;
	font-size: 12px;
}

.small {
	font-size: 12px;
	color: white;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-radius: 10px;
	background-color: #2196F3;
	width: 100px;
	display: none;
	box-shadow: 1px 1px 1px rgba(220,220,220, 0.9);
}

.medium {
	font-size: 12px;
	color: white;
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 1px;
	border-radius: 10px;
	background-color: #2196F3;
	width: 40%;
	display: none;
	box-shadow: 1px 1px 1px rgba(220,220,220, 0.9);
}

.large {
	font-size: 12px;
	color: white;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 5px;
	border-radius: 10px;
	background-color: #2196F3;
	width: 80%;
	display: none;
	box-shadow: 1px 1px 1px rgba(220,220,220, 0.9);
}

.clipping {
	font-size: 12px;
	color: black;
	align-items: center;
	border-style: solid;
	border-width: 1px;
	border-color: #eaecef;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: white;
	width: 90%;
	display: none;
	box-shadow: 1px 1px 1px rgba(220,220,220, 0.9);
}

.buttons {
	font-size: 12px;
	display: none;
	padding-bottom: 20px;
}


.clicker {
	font-size: 12px;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #6f7277;
	color: #6f7277;
	padding-top: 7px;
	border-radius: 10px;
	width: 75px;
	cursor: pointer;
}

.clicker:hover {
	background-color: rgb(250, 250, 250);
}

.clicked {
	font-size: 12px;
	float: right;
	color: black;
	padding-top: 8px;
	padding-bottom: 1px;
	border-radius: 10px;
	background-color: #e0e2e5;
	width: 30%;
}

.view_more {
	font-size: 12px;
	border-style: solid;
	border-width: 1px;
	border-color: #6f7277;
	color: #6f7277;
	padding-top: 8px;
	padding-bottom: 1px;
	border-radius: 10px;
	width: 50%;
}

.view_more:hover {
	cursor: pointer;
	background-color: rgb(250,250,250);
}

.gap {
	padding: 3px;
}

