html, body {
  font-family: 'Open Sans', sans-serif;
}

.menu-item-mob {
  color: rgb(240, 240, 240);
  font-size: 16px;
}

.menu-item-mob:hover {
  color: white;
  text-decoration: none;
}

.content-section {
  padding-top: 80px;
  padding-bottom: 80px;
}


.title_row {
  padding-bottom: 10px
}

.header {
	color: #4288f7;
}

.second_header {
	color: #f44d3a;
}

.options {
  padding-top: 10px;
  position: relative;
  text-align: left;
  background-color: #2196F3;
  height: 40px;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, 0.4);
  color: white;
  position: -webkit-sticky;  
  position: sticky;
  top: 0; 
  z-index: 1;
}

#menu {
  color: rgb(240, 240, 240);
}

#menu:hover {
  color: white;
  cursor: pointer;
}

.tab-item {
  list-style-type:none;
}

.tab-item-mob {
  list-style-type:none;
}

.tab-item-hide {
  list-style-type: none;
}

.tab-items-list-mob {
  padding-top: 20px;
  background: #2196F3;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  text-align: left;
  top: 0;
  display: none;
}

.tab-items-list {
  display: none;
}

#overlay_about {
  background: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  display: none;
  text-align: left;
  bottom: 0;
}

.overlay_white {
	background-color: white;
	color: black;
	border-radius: 0px;
	height: 100%;
	overflow: scroll;
}

.info_text, .types_of_interface, .why-better {
	background-color: rgb(245,245,245);
}

@media (min-width: 1024px) {

#overlay_about {
  background: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  display: none;
  text-align: left;
  bottom: 0;
  padding: 5px;
}

.overlay_white {
  padding-top: 10px;
  background-color: white;
  color: black;
  border-radius: 0px;
  height: 100%;
}

.overlay_content {
  padding: 30px;
  padding-left: 400px;
  padding-right: 400px;
}

#menu {
  display: none;
}

.menu-item {
  color: rgb(240, 240, 240);
}

.menu-item:hover {
  color: white;
  text-decoration: none;
}

.tab-items-list {
  display: inline-block;
  font-size: 17px;
}

.options {
  height: 80px;
}

.tab-item {
  color: rgb(240,240,240);
  border-bottom: 2px solid;
  display: inline-block;
  margin-top: 41px;
  font-size: 1.1em;
  margin-right: 50px;
}

.tab-items-list-mob {
  display: none;
}


}