/*everything*/
html, body, p, h1, h4, a {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.1em
}
/*top section*/
  
  /*sticky header*/
  .options {
    padding-top: 10px;
    padding-bottom: 35px;
    position: relative;
    text-align: left;
    background-color: #2196F3;
    height: 40px;
    color: white;
    position: -webkit-sticky;  
    position: sticky;
    top: 0; 
    z-index: 1;
  }

  #menu, #hide {
    padding-left: 5px;
    color: rgb(240, 240, 240);
  }

  #menu:hover, #hide:hover {
    color: white;
    cursor: pointer;
  }

  .tab-item {
    list-style-type:none;
  }

  .tab-item-mob {
    list-style-type:none;
  }

  .tab-item-hide {
    list-style-type: none;
  }

  .tab-items-list-mob {
    padding-top: 10px;
    background: #2196F3;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    text-align: left;
    top: 0;
    display: none;
  }

  .tab-items-list {
    display: none;
  }

  /* title section */

  .options-title-div {
    padding-top: 10px;
    position: relative;
    text-align: left;
    background-color: #2196F3;
    top: 0; 
    height: 120px;
  }

  .options-title {
    color: white;
    font-size: 2em;
    text-align: center;
  }

/* mobile menu overlay */

  .menu-item-mob {
    color: rgb(240, 240, 240);
    font-size: 24px;
  }

  .menu-item-mob:hover {
    color: white;
    text-decoration: none;
  }

/* general */

  .header {
  	color: #4288f7;
    font-size: 1.5em;
  }

  .second_header {
  	color: #f44d3a;
  }

  section {
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .standard-text {
    margin-right: 0px;
  }

  blockquote {
    margin-left: 50px;
    margin-right: 50px;
  }

  footer {
    padding: 5px;
    height: 100px;
    background-color: grey;
    color: white;
  }

/* specific section */
  
  .panel1, .panel2, .panel3, .panel4 {
    background-color: #a9ecf9;
    height: 400px;
    margin: 5px;
    padding: 20px;
  }

  .panel2 {
     background-color: #81abea;
  }

  .panel3 {
     background-color: #d9fcf1;
  }

  .panel4 {
     background-color: #d9defc;
  }

  .facebook-phone {
    position: absolute;
    bottom: 0;
    right: 30px;
  }

  .rocket {
    position: absolute;
    bottom: 0;
    right: 10px;
  }

  .easy {
    position: absolute;
    bottom: 30px;
    right: 10px;
  }

 .cross {
    position: absolute;
    bottom: 0;
  }

/* overall overlay */
  #overlay_about {
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    display: none;
    text-align: left;
    bottom: 0;
  }

  .overlay_white {
  	background-color: white;
  	color: black;
  	border-radius: 0px;
  	height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

